body,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Arial, sans-serif;
}

.sidbar {
  font-weight: bold;
  background-color: #f44336;
  width: 280px;
  position: fixed;
  height: 100vh;
}

.sidbar-header {
  font-weight: 900;
  color: white;
  font-size: 27px;
  margin-left: 40px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.link-item {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 8px 30px;
  margin: 0px 12px;
  display: block;
}

.link-item:hover {
  color: black;
  background-color: white;
}

.main {
  margin-left: 350px;
  margin-right: 70px;
}

.main-header {
  font-size: 72px;
  padding-top: 80px;
}
.section-header {
  margin-top: 50px;
  color: #f44336;
  font-size: 50px;
}

.content hr {
  border: 5px solid red;
  width: 50px;
  border-radius: 3px;
  margin-left: 0px;
}

.section1 {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.section1 img {
  width: 49%;
}



.section4{
    display: flex;
    justify-content: space-between;
}

.package{
    width: 300px;
    height: 400px;
    border: 1px solid grey;
}

.package img{
    width: 300px;
}
.package > div{
    margin: 8px;
}

.section5 label {
    margin-bottom: 5px;
  display: block;
}
.section5 input {
  height: 30px;
  width: 100%;
}
.input-item {
  margin-top: 30px;
  padding-right: 10px;
}
.section5 button {
  color: white;
  font-weight: bold;
  margin-top: 20px;
  border: none;
  outline: none;
  padding: 20px 20px;
  width: 100%;
  background-color: #f44336;
}

.footer {
  background-color: grey;
  margin-top: 100px;
  height: 100px;
}
